<%# <div class="footer-container"> %>
  <div class="footer">
    <%= image_tag "logo_horizontal.svg" %>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <%# <div class="footer-copyright">
      Feito com <i class="fas fa-heart"></i> por Pedro, Carol, Nathália e Maurício.
    </div>%>
    <div class="footer-copyright">
      @ 2022 Locals Only. All rights reserved.
    </div>
  </div>
<%# </div> %>
