<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <h1> LOCALS ONLY NELES!!! BORA TIME!!! </h1>


  <%# <div class="card-index">
    <img src="https://source.unsplash.com/random/1600x900"/>
    <div class="card-index-infos">
      <h2>Restaurante</h2>
      <h3>Descrição/Tag</h3>
      <p>Descrição do Restaurantes</p>
      <h3>Price</h3>
      <p>$$$</p>
      <h3>Endereço</h3>
      <p>R. Jericó, 193</p>
    </div>
  </div> %>

  <div class="card-show">
    <div>
      <h2>Cuscuz da Irina</h2>
      <p>Descrição</p>
    </div>
    <div class="card-show-items">
       <img src="https://source.unsplash.com/random/1600x900"/>
    </div>
  </div>
</div>
