<div class="container">
  <h1>Pages#home</h1>
  <h1> LOCALS ONLY NELES!!! BORA TIME!!! </h1>
  <div class="row">
    <%= link_to "EAT & DRINK", activities_path(category: "Eat & Drink")%>
    <%= link_to "TO DO", activities_path(category: "To Do") %>
    <%= link_to "EVENTS", activities_path(category: "Events") %>
  </div>
</div>
