<%#= image_tag "girls-landing01.jpg", class: "bg-img" %><%# <div class="bg-img"> %>
<div class="bg-img">
  <div class="container-home">
    <div class="entry-info">
        <h1><span data-controller="typed-js"></span></h1>
      <div><%= link_to "Viva a experiência", home_path(@home), class: "btn-yellow" %></div>
    </div>
  </div>
</div>
