<%#= image_tag "girls-landing01.jpg", class: "bg-img" %><%# <div class="bg-img"> %>
<div class="bg-img">
  <div class="container-home">
    <div class="entry-info">
      <div><h1>Be a local.</h1></div>
      <div><%= link_to "Viva a experiência", home_path(@home), class: "btn-yellow" %></div>
    </div>
  </div>
</div>
