.banner {
  // background: image-url('banner.svg');
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  background-color: #FFAD49;
  left: 0;
  top: 12%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
