// Cards do INDEX
.card-master {
  display: flex;
  flex-direction: column;
}

.card-index {
  overflow: hidden;
  margin-right: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.card-index img {
  height: auto;
  width: 40%;
  object-fit: cover;
  border-radius: 5px;
}

.card-index-infos {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.card-index-infos h2 {
  color: #575757;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 700;
  // margin-bottom: 15px;
  // padding-top: 10px;
  width: fit-content;
}

.card-index-infos h3 {
  color: #575757;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 0.3;
  padding-top: 8px;
}

.card-index-infos p {
  font-size: 12px;
  color: #575757;
  font-family: 'Poppins';
  font-weight: 300;
}

.card-index-infos p:last-child {
  margin-bottom: 0;
  margin-top: 16px;
}

// ===============================================

// Cards de SHOW
.card-show {
  height: auto;
  width: 50%;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 16px;
}

.card-show-top {
  display: flex;
  justify-content: space-between;

}

.card-show img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.card-show-items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-start;
}

.card-show-items-info {
  flex-direction: column;
  width: 50%;
}

.card-show h1 {
  color: #575757;
  font-size: 24px;
  font-family: 'Poppins';
  font-weight: 700;
  width: fit-content;
}

.card-show h2 {
  color: #575757;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 700;
  width: fit-content;
}

.card-show h3 {
  color: #575757;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 0.3;
}

.card-show p {
  font-size: 12px;
  color: #575757;
  font-family: 'Poppins';
  font-weight: 300;
  // line-height: 1.0;
}

.review-cards-all {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 16px 0;
}

.review-cards {
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.review-cards p {
  font-size: 12px;
  color: #575757;
  font-family: 'Poppins';
  font-weight: 300;
  // line-height: 1.0;
}

// =======================================

// Cards de HOME
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  width: 70%;
  height: 200px;
  position: relative;
  margin: 8px 0;
}

.card-row img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.home-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-card-title h1 {
  font-family: 'Poppins';
  font-size: 4.5em;
  font-weight: 900;
  white-space: nowrap;
}

.home-card-title a {
  text-decoration:none;
  color: #fff;
}

.home-card-title a:hover {
  text-decoration:none;
  color: #FFAC5A;
}

// #nav a:link {color: #000;}
// #nav a:visited {color: #000;}
// #nav a:hover {color: #93afbf;}
// #nav a:active {color: #93afbf;}
// =========================================

// Cards de WISHLIST

.card-wishlist {
  width: 394px;
  // margin-left: 550px;
  box-sizing: border-box;
  background: white;
  // margin: 0 350px;
  border: 0.5px solid #AAAAAA;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  // margin-top: -150px;
  margin-bottom: 160px;

}


.card-index-wishlist-intems {

  overflow: hidden;
  margin-right: 0;
  width: 90%;
  // height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-self: baseline;
  padding: 16px 20px;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 4%;
  text-decoration: none;

  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;

  }


}


.card-index-wishlist-intems:hover {
  border-style: solid;
  border-color: rgb(57, 57, 57);
}




.card-index-wishlist-intems .card-wishlist-infos {
  padding: 0 6px 6px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wishlist i {
 position: absolute;
 color: #7d7d7d;
 margin-bottom: 80px;
 margin-left: 145px;
}


.card-wishlist i:hover {

  color: #e71515;
 }


.card-wishlist p {
  margin-bottom: -5px;
  margin-top: 6px;
  font-size: 12px;
  color: #575757;
  font-family: 'Poppins';
  // line-height: 1.0;
}

.card-title {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; ;
  text-align: center;
  margin-bottom: 40px;
  background-color: #FFAD49;
  border-radius: 5px;
}
// =========================================

// Cards de user


// ================================
// Map

.map {
  border-radius: 5px;
}

//  HEAD
// width: 100%;img
//   height: 300px;
//   border-radius: 10px;


.card-img-top {

  height: 100%;
  width: 380px;
  object-fit: cover;
  border-radius: 5px;
}

.card-wishlist p {
  margin-bottom: -5px;
  margin-top: 6px;
  font-size: 12px;
  color: #575757;
  font-family: 'Poppins';
  // line-height: 1.0;
}


.card-title {

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; ;
  text-align: center;
  margin-bottom: 40px;
  background-color: #FFAD49;
  border-radius: 5px;

}

.card-title h2 {
  font-family: 'Poppins';
  font-weight: 600;
}
// =========================================

// Cards de user

.card-user {

  font-size: 22px;
  color: #575757;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  margin-right: 120px;

  h3 {
    background-repeat: no-repeat;
    width: 410px;
    height: 140px;

    }

    h2 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 32px;
    margin-top: 345px;
    position: absolute;
    margin-left: 90px;

    }



  img {
    width: 410px;
    height: 273px;
    border-radius: 10px;
    margin-bottom: 20px;

  }
  // padding-left: 30px;
  // padding-right: 60px;
  // margin-left: 20px;
}

.index-title {
  font-family: 'Poppins';
  font-weight: 700;
  color: #575757;
  padding: 16px;
}
