.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-alinhada {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-right: 2em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
